

@media screen and (max-width:576px) {
    .nav-links{
        display: none;
        
    }
    .menu-icon{
        display: block;
    }

    .home-banner-section{
        display: block;

    }

    .button-container{
        width: 100%;
    }
    .btn{
        width: 50%;
        height:auto

    }
    .home-title{
        font-size: 4.875rem;
        width: 100%;
    }

    .home-title-para{
        font-size: 1rem;
        padding: 25px 0px;
        width: 100%;
    }

    /* change habit section start here  */

    .change-your-habits-section{
        display: flex;
        flex-direction: column;
    }

    .image-box-container{
        display: flex;
        flex-direction: column;
    }
    .box-title{
        padding-top: 8%;
    }

    /* run extra habit part start from here  */
    .run-extramile-container{
        display: flex;
        flex-direction: column;

    }

    .run-img{
        width:350px;
        height: auto;
        border-radius: 80px;
    
    }

    .run-title{
        font-size:4rem;
        width: 100%;
    }
    .btn-join{
        width: 100%;

    }


}
