*{
    color: white;
    margin: 0;
    padding: 0;

}

.p-colour{
    color: rgba(255, 255, 255, 0.5);
}
body{
    background-color:#111111;
}

.orange{
    color: rgba(230,83, 60, 1);
}
.orange-bg{
    background-color: rgba(230,83, 60, 1);
}



.home-section{
    width: 100%;
    /* max-width: 1440px; */
    max-width: 992px;
    margin: 0 auto;
    background-color:#111111;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1440px; */
    max-width: 992px;
    margin: 0 auto;
    padding:1.5rem;

}

.menu-icon{
    display: none;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
    list-style: none;
    gap: 10px;
    border-radius: 20px;
    font-size: 1.125rem;
    
}

.nav-link{
    border-radius: 20px;
    padding: 5px;
    margin:2px;
}
.nav-title{
    font-size:2.25rem;
}

/* navbar ends here */


.home-banner-section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* max-width: 1440px; */
    max-width: 992px;
    margin: 0 auto;
    padding:1.5rem;


}

.home-title-section{
    gap: 30px;
    padding-right:20%;
}

.button-container{
    display: flex;
    gap: 20px;
    width: 60%;

}

.btn{
    font-size: 1.125rem;
    border-radius: 40px;
    background-color: rgba(230,83, 60, 1);
    padding: 20px;
    width: 15rem;

}
.home-title{
    font-size: 4.875rem;
    width: 60%;



}
.home-title-para{
    font-size: 1rem;
    padding: 25px 0px;
    width: 60%;


}
.home-title-section{
    padding-right: 30px;
}
    

.home-img-section img {
    width: 100%; 
    height: auto;

}

.overflow-icon-homepage{
    position:absolute;
    right: 4%;
    top: 30%;


}

/* change habbit section start from here  */

.change-your-habits-section{
    /* max-width: 1440px; */
    max-width: 992px;
    margin: 0 auto;
    background-color: #111111;
}

.change-habits-title-and-para{
    text-align: center;
    padding:50px;

}

.title-c-h{
    padding: 20px;
    font-size: 2.7rem;
}

.c-h-para{
    font-size: 1rem;
    padding: 5px;

}

.image-box-container{
    display:flex;
    justify-content: space-between;
    text-align: center;

    
    
}


.img-round{
    border-radius: 50%;

}

.box-paragraph{
    padding:4% 10%;

}


/* run extra image start from here */

.title-box{
    padding: 40px;
    width: 50%;
    margin: 20px;
}
.run-img-container{
    padding:20px;
    width: 50%;
}

.run-img{
    width: 100%;
    border-radius: 30px;
    


}

.run-an-extra-mile-section{
    /* max-width: 1440px; */
    max-width: 992px;
    margin: 0 auto;
    gap: 20px;



}

.run-extramile-container{
    background-color: #2d2c2c;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items: center;

}




.run-title{
    font-size: 4rem;
    width: 100%;
}
.run-pera{
    font-size: 1rem;
    width: 70%;
    padding: 20px 0px;

}

.btn-join{
    padding-top: 10px;
}

/* training and exercises start from here  */


/* bmi-calculator-section start from here  */

.bmi-calculator-section{
    max-width: 992px;
    margin: 0 auto;
}
.bmi-title{

    font-size: 4rem;
    width: 100%;
}

.bmi-para{
    font-size: 1rem;
    width: 70%;
    padding: 20px 0px;

    
}


.bmi-container{
    padding: 5% 0px;
    max-width: 50%;
    margin: 0 auto;
}

/* another bmi  */

.bmi-calculate-section{
    max-width: 992px;
    margin: 0 auto;
}

table, td ,tr ,th{
    border: 1px solid rgb(122, 122, 122);
    border-collapse: collapse;
    width: 80%;
    height: 30px;

}

.chart-box{
    width: 40%;
}
.calculate-bmi-box{
    width: 60%;
}

.calculate-bmi-box{
    padding-bottom: 30px;
}


/* meet section starts from here  */

.meet-our-section{
    max-width: 992px;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    border: 2px solid seashell;
    grid-template-areas: "a b c ""d e f";

    gap: 25px;
}

.grid-item{
    position: relative;
}

.text-box{
    position: absolute;
    bottom:50%;
    left:2%;


}

.grid-container img{

    width: 100%;
    border: 10px; 
    border-radius: 20px;
    
}

.item1{
    grid-area: a;
}
item2{
    grid-area: b;
}
.item3{
    grid-area: c;
}
.item4{
    grid-area: d;
}
.item5{
    grid-area: e;
}
.item6{
    grid-area: f;
}

