*{
    color: white;
    margin: 0;
    padding: 0;

}
body{
    background-color:#111111;
}

.orange{
    color: rgba(230,83, 60, 1);
}
.orange-bg{
    background-color: rgba(230,83, 60, 1);
}



.home-section{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color:#111111;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding:1.5rem;

}

.menu-icon{
    display: none;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    cursor: pointer;
    list-style: none;
    gap: 10px;
    border-radius: 20px;
    font-size: 1.125rem;
    
}

.nav-link{
    border-radius: 20px;
    padding: 5px;
    margin:2px;
}
.nav-title{
    font-size:2.25rem;
}

/* navbar ends here */


.home-banner-section{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding:1.5rem;


}

.home-title-section{
    gap: 30px;
    padding-right:20%;
}

.button-container{
    display: flex;
    gap: 20px;
    width: 60%;

}

.btn{
    font-size: 1.125rem;
    border-radius: 40px;
    background-color: rgba(230,83, 60, 1);
    padding: 20px;
    width: 15rem;

}
.home-title{
    font-size: 4.875rem;
    width: 60%;



}
.home-title-para{
    font-size: 1rem;
    padding: 25px 0px;
    width: 60%;


}
.home-title-section{
    padding-right: 30px;
}
    

.home-img-section img {
    width: 100%; /* Ensure the image fills its container */
    height: auto;

}

.overflow-icon-homepage{
    position:absolute;
    right: 4%;
    top: 30%;


}

/* change habbit section start from here  */

.change-your-habits-section{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #111111;
}

.change-habits-title-and-para{
    text-align: center;
    padding:50px;

}

.title-c-h{
    padding: 20px;
    font-size: 2.7rem;
}

.c-h-para{
    font-size: 1rem;
    padding: 5px;

}

.image-box-container{
    display:flex;
    justify-content: space-between;
    text-align: center;

    
    
}


.img-round{
    border-radius: 50%;

}

.box-paragraph{
    padding:4% 10%;

}


/* run extra image start from here */
.run-img{
    width: 40rem;
    height: auto;
    padding: 40px;
    border-radius: 80px;

}

.run-an-extra-mile-section{
    max-width: 1440px;
    margin: 0 auto;



}

.run-extramile-container{
    background-color: #2d2c2c;
    border-radius: 20px;
    display:flex;
    justify-content: center;

}

.title-box{
    padding: 40px;
}

.run-title{
    font-size: 4.875rem;
    width: 70%;
}
.run-pera{
    font-size: 1rem;
    width: 80%;
    padding: 20px 0px;

}
.btn-join{

    padding-top: 10px;
}

/* training and exercises start from here  */
